

ul {
  padding: .5em;
}
li {
  padding: 1em .5em .1em .5em;
  display: inline-block;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}