.group-site-header {
  text-align: center;
  margin: 1em;
  padding: .5em;
}

ul {
  padding: .5em;
}
li {
  padding: 1em .5em .1em .5em;
  display: inline-block;
}

img {
  max-width: 500px;
  box-sizing: border-box;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

footer {
  margin-top: 1em;
  padding: .5em;
  font-style: italic;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}