.icon-menu {
  padding: .5em;
  font-size: 2em;
  float: right;
  position: fixed;
  border: 3px solid black;
}

nav {
  display: none;
}

@media only screen and (min-width: 640px) {
  .icon-menu {
    display: none;
  }
  nav {
    display: inline;
  }
}