* {
  background-color: lightskyblue;
}

body {
  max-width: 1250px;
  width: 95%;
  margin: 0 auto;
  padding-right: .5em;
  border: 2px solid black;
}

#wrapper {
  max-width: 100%;
  height: auto;
}

ul {
  padding: .5em;
}
li {
  padding: 1em .5em .1em .5em;
  display: inline-block;
}